@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import "@fontsource/inter";
@import "@fontsource/poppins";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-poppins: "Poppins", sans-serif;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-1: #f6f1f1;
    --color-2: #afd3e2;
    --color-3: #19a7ce;
    --color-4: #146c94;
    --color-second: #e9ec36;
    --color-grey: #404040;
}
